body {
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa';
    background-size: 200rem;
    background-image: url('/assets/images/cityscape.png');
    color: white;
}

.container {
    width: 100%;
}

#site-name {
    text-transform: uppercase;
}

#site-intro {
    text-align: center;
}

input {
    color: white;
}

.btn-large {
    background-color: darkslateblue;
}

#music-btn {
    margin-left: 2.5%;
    margin-right: 10%;
}

#arts-btn {
    margin-left: 10%;
    margin-right: 2.5%;
}

footer {
    background-color: darkslateblue;
    padding: 1em;
    text-align: center;
}

#tabs {
    flex-direction: row;
    margin-bottom: 20px;
    text-align: center;
}

.btn-floating {
    background-color: darkslateblue;
}

#tab-left {
    margin-right: 5%;
}