body {
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa';
    background-image: url('../images/cityscape.png');
    background-size: 200%;
    animation-name: move;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: white;
}

@keyframes move {
    0%, 100% {
      background-position: top right;
    }
    50% {
      background-position: top left;
    }
}

.container {
    width: 100%;
}

#site-name {
    text-transform: uppercase;
}

#site-intro {
    text-align: center;
}

input {
    color: white;
}

.btn-large {
    background-color: darkslateblue;
}

#find-events-btn {
    width: 50%;
    margin-left: 25%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    background-color: rgb(72, 61, 139, 0.5);
    text-align: center;
}