body {
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa';
  background-size: 350rem;
  background-image: url('/assets/images/cityscape.png');
  animation-name: move;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: white;
}

@keyframes move {
  0%, 100% {
    background-position: right;
  }
  50% {
    background-position: left;
  }
}

#homeButton {
  background-color: darkslateblue;
  margin: 20px;
}

h3 {
  text-transform: uppercase;
}

.event-results {
  width: 500px;
}